{% if security.registerable or security.recoverable or security.confirmabled %}
<h2>{{ _gettext('Menu') }}</h2>
<ul>
  <li><a href="{{ url_for_security('login') }}">{{ _gettext('Login') }}</a></li>
  {% if security.registerable %}
  <li><a href="{{ url_for_security('register') }}">{{ _gettext('Register') }}</a><br/></li>
  {% endif %}
  {% if security.recoverable %}
  <li><a href="{{ url_for_security('forgot_password') }}">{{ _gettext('Forgot password') }}</a><br/></li>
  {% endif %}
  {% if security.confirmable %}
  <li><a href="{{ url_for_security('send_confirmation') }}">{{ _gettext('Confirm account') }}</a></li>
  {% endif %}
</ul>
{% endif %}